<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
      <loggingin>
				<processor type="Sitecore.Support.Pipelines.LoggedIn.ClearSession, Sitecore.Support.94909" patch:before="processor[@type='Sitecore.Pipelines.LoggingIn.ClearCache, Sitecore.Kernel']" />
			</loggingin>
		</processors>
	</sitecore>
</configuration>
